

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header{
    margin: 13px auto 15px;
}

.header-link{
    font size: 14px;
    line height: 14px;
    color: #1C1C1C;
    text-decoration: none;
}

.button{
    width: 157px;
    height: 40px;
    border-radius: 20px;
    background-color: #6F2CFF;
    border: none;
   font-size: 14px;
   line-height: 14px;
   color: white;
}

.button:hover{
    background: #785eb4;
}

.main{
    background: rgb(235, 186, 206);
    padding: 58px 0 59px;
}
.main-button{
    width: 157px;
    height: 40px;
    border-radius: 20px;
    background-color: #6F2CFF;
    border: none;
    font-size: 14px;
   line-height: 14px;
   color: white;


}

.main-title{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
}

.main-text-violet{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    color: #6F2DFF;
    margin: 18px 0;
}

.main-text{
    font-size: 18px;
    line-height: 30px;
    max-width: 438 px;
}

.bold{
    font-weight: bold;
}

.main-input{
    height: 45px;
    width: 268px;
    border: 1px solid #6F2CFF;
    border-radius: 28px 28px 28px 27.5px;
    padding-left: 26px;
     
}

.footer{
    background: #20003C;
    padding: 58px 0;
}
.footer-link{
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   color: #FFFFFF;
   text-decoration: none;
 }